{extend name="base/layout"/}

{block name="main"}
<link rel="stylesheet" href="__DASH__/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script src="__DASH__/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="__DASH__/lib/sockjs.min.js"></script>
<script src="__DASH__/lib/tinyselect/tinyselect.min.js"></script>
<link rel="stylesheet" type="text/css" href="__DASH__/lib/tinyselect/tinyselect.min.css"/>
<div class="content-wrapper">
    <section class="content-header">
        <h1>代金券资金</h1>
        <ol class="breadcrumb">
            <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="#">用户管理</a></li>
            <li class="active">代金券资金</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <form id="searchInfo" action="{:url('cash_coupon_log')}" method="get">
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">持仓编号</label>
                                    <div class="search-body">
                                        <input class="form-control" type="text" id="orderPositionId" name="order_position_id" value="{$order_position_id?:''}">
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">变动类型</label>
                                    <div class="search-body">
                                        <select class="form-control" id="changeType" name="change_type">
                                            <option  value="">请选择</option>
                                            {foreach $strategyChangeType as $key=>$item}
                                            <option value="{$key}" {:isset($change_type) && $key==$change_type?'selected':''}>{$item}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">手机号</label>
                                    <div class="search-body"><input class="form-control" type="text" id="mobile" name="mobile" value="{:isset($mobile)?$mobile:''}"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">代理商</label>
                                    <div class="search-body">
                                        <select id="agentId" name="agent_id" class="form-control" onchange="showBroker(this.value);">
                                            <option value="">请选择</option>
                                            {foreach $agentInfo as $ak=>$av}
                                            <option value="{$ak}" {:isset($agent_id) && $ak==$agent_id?'selected':''}>{$av}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">经纪人</label>
                                    <div class="search-body"id="brokerInfo">
                                        <select id="brokerId" name="broker_id" class="form-control" >
                                        </select>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">排除代理商</label>
                                    <div class="search-body">
                                        <select id="noAgentId" name="no_agent_id[]" multiple="multiple">
                                            {foreach $agentInfo as $k=>$v}
                                            <option value="{$k}" {:$no_agent_id && in_array($k,$no_agent_id)?'selected':''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                    <input type="hidden" name="submit_flag" id="submitFlag" value="2">
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">开始变动时间</label>
                                    <div class="search-body">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="start_date" id="startDate" value="{$start_date?:''}" class="form-control pull-right">
                                        </div>
                                    </div>

                                </div>
                                <div class="search-box">
                                    <label class="text-right">最后变动时间</label>
                                    <div class="search-body">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="end_date" id="endDate" value="{$end_date?:''}" class="form-control pull-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right"></label>
                                    <div class="search-body"><input type="submit" class="btn btn-primary" value="查找"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-middle table-center">
                            <thead>
                            <tr>
                                <th>编水号</th>
                                <th>持仓编号</th>
                                <th>用户详情</th>
                                <th>股票详情</th>
                                <th>发生时间</th>
                                <th>变动类型</th>
                                <th>变动金额</th>
                                <th>发生前金额</th>
                                <th>发生后金额</th>
                                <th>代理商/经济人</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $strategyLogAll['strategyLogInfo'] as $k=>$v}
                            <tr>
                                <td>{$v.id}</td>
                                <td>{$v.order_position_id}</td>
                                <td>
                                    <a href="{:url('user/index',['mobile'=>$v.mobile])}" target="_blank"  title="点击打开用户详情">
                                        {$v.mobile}<br>{$v.real_name?:''}
                                    </a>
                                </td>
                                <td>
                                    {$v.market}{$v.stock_code}
                                    <br>
                                    {$v.stock_code?$strategyLogAll['stockInfo'][$v['market'].$v['stock_code']]['stock_name']:''}
                                </td>
                                <td>{$v.change_time}</td>
                                <td>{$strategyChangeType[$v['change_type']]}</td>
                                <td>{$v.change_money}</td>
                                <td>{$v.before_balance}</td>
                                <td>{$v.after_balance}</td>
                                <td>{$strategyLogAll['agentInfo'][$v['agent_id']]?:''}
                                    <br>{$strategyLogAll['brokerInfo'][$v['broker_id']]?:''}
                                </td>
                                <td>{$v.remark}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-12 no-padding">{:$strategyLogAll['strategyLogInfo']->render()}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{/block}
{block name="js"}
<script>
    tinyselect('#noAgentId',{
        result: {
            style: {
                height: '34px',
                border: '1px solid #ccc'
            }
        }
    });
    $(function () {
        $('#startDate').datetimepicker({
            format: 'yyyy-mm-dd 00:00:00',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮
        });
        $('#endDate').datetimepicker({
            format: 'yyyy-mm-dd 23:59:59',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮!
        });
    });
    $(function(){
        var agentId  = "{:$agent_id}";
        var brokerId = "{:$broker_id}";
        if (agentId) {
            $.post("{:url('stock/orgFilter/broker')}", {agent_id:agentId,brokerId:brokerId}, function(data){
                if(data.code == 1){
                    var str = "<select id=\"brokerId\" name=\"broker_id\" class=\"form-control\"><option value=''>请选择</option>";
                    $.each(data.data, function (i, el) {
                        if(i == brokerId){
                            str +="<option value='"+i+"' selected>"+el+"</option>";
                        }else{
                            str +="<option value='"+i+"'>"+el+"</option>";
                        }
                    });
                    str +="</select>";
                    $("#brokerInfo").html(str);
                }
            });
        }
    });
    function showBroker(v) {
        var brokerId=0;
        $.post("{:url('stock/orgFilter/broker')}", {agent_id:v,brokerId:brokerId}, function(data){
            if(data.code == 1){
                $("#brokerInfo").empty();
                var str = "<select id=\"brokerId\" name=\"broker_id\" class=\"form-control\"><option value=''>请选择</option>";
                $.each(data.data, function (i, el) {
                    str +="<option value='"+i+"'>"+el+"</option>";
                });
                str +="</select>";
                $("#brokerInfo").html(str);
            }
        });
    }
</script>
{/block}