{extend name="base/layout"/}

{block name="main"}
<style>
.buy{color: #f66;}
.buy a{color: #f66;border-bottom:1px dotted #f66;}
.sell{color: #0384ec;}
.sell a{color: #0384ec;border-bottom:1px dotted #0384ec;}
 .tj{
     background-color: #ecf0f5;
     font-weight:bold;
 }
</style>
<link rel="stylesheet" href="__DASH__/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script src="__DASH__/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<div class="content-wrapper">
    <section class="content-header">
        <h1>委托列表</h1>
        <ol class="breadcrumb">
            <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="#">订单管理</a></li>
            <li class="active">委托列表</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <form id="searchInfo" action="{:url('order')}" method="get">
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">股票代码</label>
                                    <div class="search-body">
                                        <input class="form-control" id="stockCode" name="stock_code" type="text"  value="{$stock_code?:''}">
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">手机号</label>
                                    <div class="search-body">
                                        <input class="form-control" type="text" name="mobile" id="mobile"  value="{$mobile?:''}">
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">资金账号</label>
                                    <div class="search-body">
                                        <input type="text" name="primary_account" id="primaryAccount" value="{$primary_account?:''}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">经济人</label>
                                    <div class="search-body">
                                        <select class="form-control" id="brokerId" name="broker_id" onchange="showBroker(this.value);">
                                            <option value="">请选择</option>
                                            {foreach $brokerList as $k=>$v}
                                            <option value="{$k}" {:isset($broker_id) && $k==$broker_id?'selected':''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">开始委托时间</label>
                                    <div class="search-body">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="start_date" id="startDate" value="{$start_date?:''}" class="form-control pull-right">
                                        </div>
                                    </div>
                                </div>

                                <div class="search-box">
                                    <label class="text-right">结束委托时间</label>
                                    <div class="search-body">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="end_date" id="endDate" value="{$end_date?:''}" class="form-control pull-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">方向</label>
                                    <div class="search-body">
                                        <select class="form-control" name="direction" id="direction">
                                            <option value="">请选择</option>
                                            {foreach $tradeDirectionList as $k=>$v}
                                            <option value="{$k}" {:isset($direction) && $k==$direction?'selected':''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">持仓编号</label>
                                    <div class="search-body">
                                        <input class="form-control" name="order_position_id" id="orderPositionId" type="text"  value="{$id?:''}">
                                    </div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">月管理费</label>
                                    <div class="search-body">
                                        <select id="is_monthly" name="is_monthly" class="form-control" >
                                            <option value="">全部</option>
                                            <option value="false" {:isset($is_monthly) && $is_monthly=='false'?'selected':''}>否</option>
                                            <option value="true" {:isset($is_monthly) && $is_monthly=='true'?'selected':''}>是</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right"></label>
                                    <div class="search-body"><input type="submit" class="btn btn-primary" value="查找"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script type="text/javascript">
                        function scrollWindow(obj,id)
                        {
                            document.getElementById(id).scrollLeft=obj.scrollLeft
                        }
                    </script>
                    <div id="div1" class="table-scroll-x-top" style="width: 100%" onscroll="scrollWindow(this,'scroll_tab')">
                        <div class="table-scroll-x-top2" style="width:130%"></div>
                    </div>
                    <div class="box-body no-padding table-scroll-x" id="scroll_tab"  onscroll="scrollWindow(this,'div1')">
                        <table class="table table-bordered table-middle table-center">
                            <thead>
                            <tr class="tj">
                                <td>总计</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{$orderStatistic.totalvolume?:'0'}</td>
                                <td>{$orderStatistic.totalsuccess?:'0'}</td>
                                <td colspan="4"></td>
                            </tr>
                            </thead>
                            <tr>
                                <th>委托编号</th>
                                <th>持仓编号</th>
                                <th>用户信息</th>
                                <th>更新时间</th>
                                <th>股票详情</th>
                                <th>方向</th>
                                <th>委托时间</th>
                                <th>委托价格</th>
                                <th>委托数量</th>
                                <th>成交数量</th>
                                <th>合同编号</th>
                                <th>状态</th>
                                <th>月管理费</th>
                                <th>月管理到期时间</th>
                            </tr>
                            {foreach $orderList['orderlist'] as $k=>$v}
                            <tr {$v.direction=='buy'?"class='buy'":"class='sell'"}>
                                <td>{$v.id}</td>
                                <td>{$v.order_position_id}</td>
                                <td>
                                    <a href="{:url('user/index',['mobile'=>$v.mobile])}" target="_blank" style="cursor: pointer" title="点击打开用户详情">
                                        <font {$v.direction=='buy'?"class='buy'":"class='sell'"}>
                                            {$v.mobile}
                                            <br>
                                            {$v['real_name']?:'未实名'}
                                        </font>
                                    </a>
                                </td>
                                <td>{$v.update_time}</td>
                                <td>
                                    {$v.market}{$v.stock_code}
                                    <br>
                                    {$orderList['stockInfo'][$v['market'].$v['stock_code']] ? $orderList['stockInfo'][$v['market'].$v['stock_code']]['stock_name']:''}
                                    <br>
                                    {$v.primary_account}
                                </td>
                                <td>{$v.direction ? $tradeDirectionList[$v['direction']]:''}</td>
                                <td>{$v.create_time}</td>
                                <td>{$v.price}</td>
                                <td>{$v.volume}</td>
                                <td>{$v.volume_success}</td>
                                <td>{$v.order_sn}</td>
                                <td>{$v.cancel_state=='success' ? $cancelStateList[$v['cancel_state']]:($v['state']?$orderStateList[$v['state']]:'')}</td>
                                <td>{$v.is_monthly?'是':'否'}</td>
                                <td>{$v.monthly_expire_date}</td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-12 no-padding">{:$orderList['orderlist']->render()}</div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>
{/block}
{block name="js"}
<script>
$(function () {
    $('#startDate').datetimepicker({
        format: 'yyyy-mm-dd 00:00:00',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),
        autoclose: true,//选中自动关闭
        todayBtn: true,//显示今日按钮
    });
    $('#endDate').datetimepicker({
        format: 'yyyy-mm-dd 23:59:59',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),
        autoclose: true,//选中自动关闭
        todayBtn: true,//显示今日按钮!
    });
})
</script>
{/block}
