{extend name="base/layout"/}
{block name="main"}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            除权除息详情
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="#">风控管理</a></li>
            <li class="active">除权除息详情</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">股票代码</label>
                                <div class="col-sm-4">
                                    <input type="text" name="stock_code " id="stockCode"
                                           value="{$xrxdInfo.stock_code?:''}" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">基础股票</label>
                                <div class="col-sm-4">
                                    <input type="text" name="base_volume" id="baseStockVolume"
                                           value="{$xrxdInfo.base_volume?:''}" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">送股股数</label>
                                <div class="col-sm-4">
                                    <input type="text" name="give_volume" id="giveStockVolume"
                                           value="{$xrxdInfo.give_volume?:''}" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">转股股数</label>
                                <div class="col-sm-4">
                                    <input type="text" name="transfer_volume" id="transferStockVolume"
                                           value="{$xrxdInfo.transfer_volume?:''}" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">股利金额</label>
                                <div class="col-sm-4">
                                    <input type="text" name="dividend" id="dividend"
                                           value="{$xrxdInfo.dividend?:''}" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">除权除息日</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="execute_date" id="executeDate"
                                               value="{$xrxdInfo.execute_date?:''}" class="form-control pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group col-sm-8">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-4">
                                    <textarea class="form-control" name="remark" id="remark" rows="3">{$xrxdInfo.remark?:''}</textarea>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </section>
</div>

{/block}

