{extend name="base/layout"/}

{block name="main"}
<style>
.tj{
    background-color: #ecf0f5;
    font-weight:bold;
}
.wrapper{
    position: absolute;
}
</style>
<script src="__DASH__/lib/sockjs.min.js"></script>
<div class="content-wrapper">
    <section class="content-header">
        <h1>持仓列表</h1>
        <ol class="breadcrumb">
            <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="#">订单管理</a></li>
            <li class="active">持仓列表</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <form id="searchInfo" action="{:url('position')}" method="get">
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">股票代码</label>
                                    <div class="search-body"><input class="form-control" name="stock_code" id="stockCode" type="text"  value="{$stock_code?:''}"></div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">手机号</label>
                                    <div class="search-body"><input class="form-control" name="mobile" id="mobile" type="text"  value="{$mobile?:''}"></div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right">持仓编号</label>
                                    <div class="search-body"><input class="form-control" name="id" id="id" type="text"  value="{$id?:''}"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="search-box">
                                    <label class="text-right">资金账号</label>
                                    <div class="search-body"><input class="form-control" name="primary_account" id="primaryAccount" type="text"  value="{$primary_account?:''}"></div>
                                </div>
                                <div class="search-box">
                                    <label class="text-right"></label>
                                    <div class="search-body"><input type="submit" class="btn btn-primary" value="查找"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script type="text/javascript">
                        function scrollWindow(obj,id)
                        {
                            document.getElementById(id).scrollLeft=obj.scrollLeft
                        }
                    </script>
                    <div id="div1" class="table-scroll-x-top" onscroll="scrollWindow(this,'scroll_tab')">
                        <div class="table-scroll-x-top2"></div>
                    </div>
                    <div class="box-body no-padding table-scroll-x" id="scroll_tab" onscroll="scrollWindow(this,'div1')">
                        <table class="table table-bordered table-middle table-center width-130%">
                            <thead>
                            <tr class="tj">
                                <td>总计</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="text-red">{$positionStatistic.volume_position?:0}</span>
                                    <br>
                                    <span class="text-green">{$positionStatistic.volume_for_sell?:0}</span>
                                    <br>
                                    <span class="text-blue">{$positionStatistic.volume_today?:0}</span>
                                </td>
                                <td>
                                    {$positionStatistic.sum_buy_volume?:0}
                                    <br>
                                    {$positionStatistic.sum_sell_volume?:0}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{$positionStatistic.sum_buy_value?:0}</td>
                                <td>{$positionStatistic.sum_buy_value_cost?:0}</td>
                                <td>{$positionStatistic.sum_sell_value?:0}</td>
                                <td>{$positionStatistic.sum_sell_value_in?:0}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{$positionStatistic.sum_back_profit?:'0'}</td>
                                <td></td>
                                <td></td>
                                <td>{$positionStatistic.sum_management_fee?:'0'}</td>
                                <td>{$positionStatistic.sum_deposit?:'0'}</td>
                                <td colspan="2"></td>
                            </tr>
                            </thead>
                            <tr>
                                <th>持仓编号</th>
                                <th>用户信息</th>
                                <th>股票详情</th>
                                <th><span class="text-red">持仓</span>/<span class="text-green">可卖</span>/<span class="text-blue">今仓</span></th>
                                <th>累买/累卖</th>
                                <th>最新价</th>
                                <th>补仓价</th>
                                <th>持仓均价</th>
                                <th>买入市值</th>
                                <th>总买入市值</th>
                                <th>卖出市值</th>
                                <th>总卖出市值</th>
                                <th>最新市值</th>
                                <th>持仓盈亏</th>
                                <th>盈亏比例</th>
                                <th>累计提走盈利</th>
                                <th>除权除息详情</th>
                                <th>停牌天数</th>
                                <th>管理费</th>
                                <th>保证金</th>
                                <th>策略金余额</th>
                                <th>月管理费</th>
                                <th>月管理到期时间</th>
                            </tr>
                            {foreach $positionList['orderPositionList'] as $k=>$v}
                            <tr>
                                <td>{$v.id}</td>
                                <td>
                                    <a href="{:url('user/index',['mobile'=>$v.mobile])}" target="_blank" title="点击打开用户详情">
                                            {$v.mobile}<br>{$v['real_name']?:'未实名'}
                                    </a>
                                </td>
                                <td>
                                    {$v.market}{$v.stock_code}
                                    <br>
                                    {$positionList['stockInfo'][$v['market'].$v['stock_code']] ? $positionList['stockInfo'][$v['market'].$v['stock_code']]['stock_name']:''}
                                    <br>
                                    {$v.primary_account}
                                </td>
                                <td>
                                    <span class="text-red">{$v.volume_position}</span>
                                    <br>
                                    <span class="text-green">{$v.volume_for_sell}</span>
                                    <br>
                                    <span class="text-blue">{$v.volume_today}</span>
                                </td>
                                <td>
                                    {$v.sum_buy_volume}
                                    <br>
                                    {$v.sum_sell_volume}
                                </td>
                                <td class="newprice{$v.stock_code}_{$positionList['securityType'][$v['market']]}"></td>
                                <td>{$v.stop_loss_price}</td>
                                <td>{$v.position_price}</td>
                                <td>{$v.sum_buy_value}</td>
                                <td>{$v.sum_buy_value_cost}</td>
                                <td>{$v.sum_sell_value}</td>
                                <td>{$v.sum_sell_value_in}</td>
                                <td class="now-value" id="{$v.stock_code}_{$positionList['securityType'][$v['market']]}_{$v['id']}" data-flag="{$v['id']}" data-num="{$v['volume_position']}" data-buy="{$v['sum_buy_value_cost']}" data-sell="{$v['sum_sell_value_in']}"></td>
                                <td class="pal" id="pal{$v.stock_code}_{$positionList['securityType'][$v['market']]}_{$v['id']}" data-flag="{$v['id']}" data-avg="{$v.position_price}" data-num="{$v['volume_position']}"></td>
                                <td class="avg" id="avg{$v.stock_code}_{$positionList['securityType'][$v['market']]}_{$v['id']}" data-flag="{$v['id']}" data-avg="{$v.position_price}"></td>
                                <td>{$v.sum_back_profit}</td>
                                <td>
                                    送转：{$v.xrxd_volume}
                                    <br>
                                    配息：{$v.xrxd_dividend}
                                </td>
                                <td>{$v.suspension_days}</td>
                                <td>{$v.sum_management_fee}</td>
                                <td>
                                    {$v.sum_deposit}
                                </td>
                                <td>{$v.strategy}</td>
                                <td>{$v.is_monthly?'是':'否'}</td>
                                <td>{$v.monthly_expire_date}</td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>
                    <input type="hidden" id="webSocket" value="{$positionList['webSocket']}">
                    <div class="box-footer">
                        <div class="col-sm-12 no-padding">{:$positionList['orderPositionList']->render()}</div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>
{/block}
{block name="js"}
<script>
var wsUri ="ws://47.114.91.240:21291";
function createWebsocket() {
    websocket = new WebSocket(wsUri);
    websocket.onopen = function(evt) {
        onOpen(evt)
    };
    websocket.onclose = function(evt) {
        onClose(evt)
    };
    websocket.onmessage = function(evt) {
        onMessage(evt)
    };
    websocket.onerror = function(evt) {
        onError(evt)
    };
}

function onOpen(evt) {
    var msg = $("#webSocket").val();
    doSend(msg);
}

function onClose(evt) {
}

function onMessage(evt) {
    var data=JSON.parse(evt.data);
    data=JSON.parse(data.Data.data);
    // 最新价
    var nowPrice=data.Price;
    $(".newprice"+data.SecurityCode+'_'+data.SecurityType).text(nowPrice);
    // 持仓均价
    var resavg=0;
    // 持仓股数
    var pal=0;
    var newPrice=0;
    var sumTotal=0;
    // 计算最新市值并赋值
    $(".now-value").each(function () {
        newPrice=(nowPrice*$(this).data('num')).toFixed(2);
        $("#"+data.SecurityCode+'_'+data.SecurityType+'_'+$(this).data('flag')).text(newPrice);
        sumTotal=(parseFloat($(this).data('sell'))-parseFloat($(this).data('buy'))+parseFloat(newPrice)).toFixed(2);
        $("#sumpal"+data.SecurityCode+'_'+data.SecurityType+'_'+$(this).data('flag')).text(sumTotal);
    });
    // 计算持仓盈亏、累计盈亏并赋值
    $(".pal").each(function () {
        pal=((nowPrice-$(this).data('avg'))*$(this).data('num')).toFixed(2);
        $("#pal"+data.SecurityCode+'_'+data.SecurityType+'_'+$(this).data('flag')).text(pal);
        $("#sumpal"+data.SecurityCode+'_'+data.SecurityType+'_'+$(this).data('flag')).text((parseFloat(pal)+parseFloat($(this).data('sum'))).toFixed(2));
    });
    // 计算盈亏比例并赋值
    $(".avg").each(function () {
        resavg=(((nowPrice-$(this).data('avg'))/$(this).data('avg'))*100).toFixed(2);
        $("#avg"+data.SecurityCode+'_'+data.SecurityType+'_'+$(this).data('flag')).text(resavg+'%');
    });
}

function onError(evt) {
}

function doSend(message) {
    websocket.send(message);
}
window.addEventListener("load", createWebsocket, false);
</script>
{/block}
